@media screen and (max-width: 4000px){
  body{
    /* background-color: #605F5E; */
    background-color: #ffffff;
    /* background-color: #A8CCC9; */
    /* background-color: #BEB7A4; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    align-content: center;
    user-select: none;
    font-family: 'Titillium Web', "Kdam Thmor Pro";
  }
  #container {
    padding: 0px;
    margin: 0px;
  }
  hr {
    margin-right: 10px;
    margin-left: 10px;
  }
  footer {
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  input{
    /* background-color: #A41623; */
    /* background-color:transparent; */
    text-align: center;
    /* border-width: 3px; */
  }
  ul {
    list-style: none;
    font-size: 15px;
    font-family: sans-serif;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  li {
    /* text-align: justify; */
    padding: 7px;
  }
  label {
    /* text-align: justify; */
    font-size: 15px;
  }
  .App-link {
    color: #61dafb;
  }
  label {
    font-weight: bold;
    text-align:start;
  }
  .vehiclesInfo {
    width: 100% / 2;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .vehiclesInfoLeft {
    /* border: 1px solid black; */
    text-align: left;
    padding-left: 10px;
  }
  .vehiclesInfoRight {
    /* border: 1px solid black; */
    text-align: right;
    padding-right: 10px;
  }
  .userBox {
    display: inline-block;
    margin-left: 1px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    user-select: none;
    cursor: pointer;
  }
  #priceDis {
    font-size: 12px;
    color:gray;
  }
  #link {
    color: gray;
    text-decoration: none;
    font-size: 15px;
  }
  #link:hover {
    color: #246EB9;
  }

 /* Flexbox */
#vehicleFavContainer, #navBar {
    display: flex;
    flex-direction: row;
}
#vehicleFavContainer, #navBar, #box5 {
  background-color: #457EAC;
}
.box {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  /* border: 1px solid #000; */
  flex: 1;
}
#lookUpBtn {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  flex: 1;
  border: 1px solid #000;
  width: 150px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
/* .boxTest {
  border: 1px solid #000;
  flex: 1;
  flex-direction:row;
} */
#titleBox {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-top: 0px;
  padding-top: 0px;
}
#navBar {
    min-height: 35px;
    align-content: center;
    text-align: center;
    margin-bottom: 0px;
    /* background-color: #A41623; */
    /* border: 1px solid black; */
}
/* .App {
  background-color: #605F5E;
} */
#box5 {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  
  align-content: center;
  max-width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#vehicleFavContainer {
    min-height: 450px;
    margin-top: 0px;
}
::placeholder, input {
  color: #000000;
}
#personalFav {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  min-height: 50px;
  align-content: center;
  max-width: 490px;
  text-align: center;
}
#vehicleFav1 {
  align-content: center;
  margin-left: 10px;
  margin-right: 5px;
  align-items: center;
  text-align: center;
  min-height: 700px;
  align-content: center;
  max-width: 490px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 15px;
  border-right: 1px solid black;
}
#vehicleFav2 {
  align-content: center;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  text-align: center;
  min-height: 700px;
  align-content: center;
  max-width: auto;
  text-align: center;
}
#vehicleFav3 {
  align-content: center;
  margin-left: 5px;
  margin-right: 10px;
  align-items: center;
  text-align: center;
  min-height: 700px;
  align-content: center;
  max-width: 490px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 15px;
}
#vehicleFav2Box {
  border-right: 1px solid black;
}
#vehicleLight1, #vehicleLight2 {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  min-height: 400px;
  align-content: center;
  max-width: 750px;
  text-align: center;
}
#lightsBox {
  flex-direction: column;
}
/* #vehicleFav1, #vehicleFav2, #vehicleFav3 {
  border-: 1px solid black;
  background-color: #457EAC;
} */
#insideContainer {
  background-color: #457EAC;
}
}
@media all and (max-width:1500px) {
  #navBar {
    flex-wrap: wrap;
  }
}
@media all and (max-width:1250px) {
  #navBar {
    flex-wrap: wrap;
  }
  #vehicleFavContainer, #vehicleFav3 {
    flex-wrap: wrap;
    max-width: 1250px;
    width: 100%;
  }
}
@media all and (max-width:800px) {
  #navBar {
    flex-wrap: wrap;
  }
  #vehicleFavContainer, #vehicleFav1, #vehicleFav2, #vehicleFav2Box, #vehicleFav3 {
    flex-direction:column;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
  }
}
@media all and (max-width:780px) {
  #vehicleFavContainer, #vehicleFav1, #vehicleFav2, #vehicleFav3 {
    flex-direction:column;
    flex-wrap: wrap;
    max-width: 760px;
    width: 100%;
    margin: 0px;
    margin: 0px;
  }
  #personalFav {
    display: none;
  }
}
@media all and (max-width:430px) {
  #vehicleFavContainer, #vehicleFav1, #vehicleFav2, #vehicleFav3 {
    flex-direction:column;
    flex-wrap: wrap;
    max-width: 760px;
    width: 100%;
  }
  #personalFav {
    display: none;
  }
  .imgCar  {
    max-width:430px;
    width: 100%;
    height: auto;
  }
}