@media all and (max-width: 4000px) {
  div {
    box-sizing: border-box;
    /* border: 1px solid black; */
  }
  .imgLight {
    padding: 5px;
    margin: 2px;
    width: 44px;
    height: 44px;
  }
  .table-container {
    display: block;
    margin: 2em auto;
    width: 100%;
    max-width: 1350px;
  }
  .flag-icon {
    margin-right: 0.1em;
  }
  .flex-table {
    display: flex;
    flex-flow: row wrap;
    transition: 0.5s;
  }
  .flex-row, .first{
    width: 5%;
    text-align: center;
    padding: 5px;
  }
  .vertLn {
    border-right: solid 1px #d9d9d9;
  }
  .vertLn2 {
    border-left: solid 1px #d9d9d9;
  }
  .second {
    width: calc(90% / 2);
    text-align: center;
    padding: 0.5em 0.5em;
    font-size: 0.75em;
  }
  .horzLn {
    border-bottom: solid 1px #d9d9d9;
  }
  .rowspan {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .second {
    text-align: center;
  }
}
@media all and (max-width: 800px) {
  .vertLn {
    border-right: none;
  }
  .vertLn2 {
    border-left: none;
  }
  .second {
    width: auto;
    padding: 2px;
  }
  .horzLn {
    border-bottom: none;
  }
  .flex-row {
    width: 90%;
    flex-wrap: wrap;
  }
  .flex-row.first, .first2 {
    width: 10%;
  }
  .table-container {
    border: none;
  }
  .imgLight {
    padding: 1px;
    margin: 1px;
    width: 2.5em;
    height: 2.5em;
  }
  .second {
    text-align: center;
    align-self: center;
  }
}
/* @media all and (max-width:430px) {
  .imgLight {
    padding: 1px;
    margin: 1px;
    width: 2em;
    height: 2em;
  }
  .second {
    text-align: center;
    padding-left: 0.5em;
    font-size: 0.6em;
  }
  .flex-row.first, .first2 {
    width:15%;
  }
  .flex-row {
    width: 85%;
    flex-wrap: wrap;
  }
} */
